.container {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans';
  
}
.card-holder {
  display: flex;
  justify-content: space-between;

  
  }
.card {
 
  background-color: #3cb878;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 5px;
  color: white;
  box-shadow: 0px 0px 3px 2px gray;
  
}


.newsletter-form h3 {
  margin-top: 0;
}

.newsletter-form {
  color: grey;
  border: solid thin #cfcfcf;
  padding: 10px;
  border-radius: 3px;
  position: relative;
  margin-top: 40px;
}

.closin-x {
  position: absolute;
  top: 0px;
  right: 5px;
 
  background-color: none;
}
#terms {
  position: relative;
  top: 2px;
  left: 0px;
}

.newsletter-form #email {
  display: block;
  width: 100%;
  border-color: solid thin #cfcfcf;
  height: 30px;
  padding-left: 3px;
  border-radius: 3px;
  box-sizing: border-box;
}

.newsletter-form button {
  display: block;
  width: 100%;
  background-color: #3cb878;
  border: 0;
  color: white;
  height: 30px;
  margin-top: 5px;
}
.closin-x button {
  background-color: white;
  color: black;
  cursor: pointer;
}

#question-circle {
  height: 100px;
  width: 100px;
  background-color: #3cb878;
  border-radius: 50%;
  color: white;
  font-size: 70px;
  text-align: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  }